*~
#*
*.log
*.valid
*.pyc
*.csv
*.png
*.pddl
*.plan
*.negative
learn/events*
/mnist_model/
*.bin
*.lprof
/samples/table
samples*/
problem-instances/*/
blocks*/
countries*/
problem-instances-ama2/
problem-instances-16/
problem-instances-16-korf/
problem-instances-cube-aae/
downward/
/build/
/dist/
/latplan.egg-info/
